<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="PARSING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/parsing.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/parsing.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="API_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/api.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/api.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>s4.java21.net:50000</destination>

        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"service":"book2onandon-service"}</customFields>
        </encoder>
    </appender>


    <logger name="org.nhnacademy.book2onandonbookservice.config.DataInitializer" level="INFO" additivity="false">
        <appender-ref ref="PARSING_FILE"/>
        <appender-ref ref="LOGSTASH"/> </logger>

    <logger name="org.nhnacademy.book2onandonbookservice.parser" level="INFO" additivity="false">
        <appender-ref ref="PARSING_FILE"/>
        <appender-ref ref="LOGSTASH"/> </logger>

    <logger name="org.nhnacademy.book2onandonbookservice.service.enrichment.BookEnrichmentService" level="INFO" additivity="false">
        <appender-ref ref="API_FILE"/>
        <appender-ref ref="LOGSTASH"/> </logger>

    <logger name="org.nhnacademy.book2onandonbookservice.client.AladinApiClient" level="INFO" additivity="false">
        <appender-ref ref="API_FILE"/>
        <appender-ref ref="LOGSTASH"/> </logger>

    <logger name="org.nhnacademy.book2onandonbookservice.client.GeminiApiClient" level="INFO" additivity="false">
        <appender-ref ref="API_FILE"/>
        <appender-ref ref="LOGSTASH"/> </logger>

    <logger name="org.nhnacademy.book2onandonbookservice.client.GroqApiClient" level="INFO" additivity="false">
        <appender-ref ref="API_FILE"/>
        <appender-ref ref="LOGSTASH"/> </logger>

    <logger name="org.nhnacademy.book2onandonbookservice.scheduler.BookEnrichmentScheduler" level="INFO" additivity="false">
        <appender-ref ref="API_FILE"/>
        <appender-ref ref="LOGSTASH"/> </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOGSTASH"/> </root>

</configuration>