name: CI/CD Pipeline

on:
  push:
    branches: [ dev ]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Set permissions
        run: chmod +x mvnw

      - name: Build and Generate Coverage Report
        run: ./mvnw clean package
        env:
          CONFIG_USER: ${{ secrets.CONFIG_USER }}
          CONFIG_PASS: ${{ secrets.CONFIG_PASS }}
          DB_PASS: ${{ secrets.DB_PASS }}


      - name: Run SonarQube Analysis
        run: |
          ./mvnw sonar:sonar \
          -Dsonar.projectKey=be12-team2_book-service \
          -Dsonar.host.url=${{ secrets.SONARQUBE_HOST_URL }}/ \
          -Dsonar.token=${{ secrets.SONAR_TOKEN }} \
          -Dsonar.java.binaries=target/classes \
          -Dsonar.coverage.jacoco.xmlReportPath=target/site/jacoco/jacoco.xml
        env:
          CONFIG_USER: ${{ secrets.CONFIG_USER }}
          CONFIG_PASS: ${{ secrets.CONFIG_PASS }}
          DB_PASS: ${{ secrets.DB_PASS }}

      - name: SCP JAR to Server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          password: ${{ secrets.SERVER_PASSWORD }}
          port: ${{ secrets.SERVER_PORT }}
          source: "target/Book2OnAndOn-book-service-0.0.1-SNAPSHOT.jar"
          target: "/home/backend/be12-team2"
          strip_components: 1


      - name: Run Deploy Script on Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          password: ${{ secrets.SERVER_PASSWORD }}
          port: ${{ secrets.SERVER_PORT }}
          script: |
            export CONFIG_USER=${{ secrets.CONFIG_USER }}
            export CONFIG_PASS=${{ secrets.CONFIG_PASS }}
            export DB_PASS=${{ secrets.DB_PASS }}
            
            cd /home/backend/be12-team2 
            chmod +x ./deploy-service.sh
            
            # $1=JAVA_HOME, $2=JAR_NAME, $3=PORT1, $4=PORT2
            ./deploy-service.sh  "Book2OnAndOn-book-service-0.0.1-SNAPSHOT.jar" \
                                10423 \
                                10424 \
                                dev
            
          
          
            
